body {
    background: url("../img/background.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: scroll;
    /* background: url("background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.posts a {
    text-decoration: none;
    color: #000000;
}


/* .btn-box {
    display: flex;
}

.btn-box button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 50px;
    font-size: 22px;
    font-weight: bold;
} */


/* .nav-brand {
    position: relative;
    right: 150px;
} */

#btn1 {
     background: #EA79CE; 
    border-radius: 10px;
    padding:10px;
}

#btn2,
#btn3 {
    border-radius: 10px;
    padding:10px;
}

.navbar-brand img {
    width: 110px;
    height: 91.8px;
    position: relative;
    right: 150px;
    overflow: hidden;
}

.navbar-nav {
    padding-top: -50px;
    padding-left: 150px;
}

.l11 {
    color: white;
    font-size: 17px;
}

.content2 {
    padding-left: 78px;
}

.content3 {
    padding-left: 78px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #F5F9FC;
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link:hover {
  
    background-color: #EA79CE;
    border-radius: 10px;
    padding:12px;
    color: #F5F9FC;
    
}

.content {
    margin-top: 110px;
    transform: translateX(1000%);
    transition: 0.5s;
}

#content-1 {
    margin-top: -10px;
    text-align: center;
}

#content-2 {
    position: relative;
    bottom: 1000px;
}

#content-3 {
    position: absolute;
    top: 100px;
    transform: translateX(0);
}

.heading {
    color: white;
}

.circle1 {
    display: inline-block;
    margin-top: 100px;
}

.font1 {
    color: white;
    display: inline-block;
    margin-top: 108px;
    line-height: 1.2;
    font-weight: 900;
}

.font2 {
    font-size: 14px;
    font-weight: 20;
}


.posts i {
    background-color: white;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 20px;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.posts i .fa{
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
  }
  .posts .fa:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
  }
  .posts .fa-calendar:hover{
        color: white;
        background-color: red;
  }
  .posts .fa-facebook-official:hover{
    color: white;
    background-color: #3b5999;
}
.posts .fa-instagram:hover{
    color: white;
    background-color:#e4405f;
}

.r-heading {
    font-size: 50px;
    color: #F5F9FC;
}

.heading-underline {
    background-color: #F5F9FC;
    width: 100px;
    height: 2px;
    margin: 0 auto 12px;
    display: block;
}

.resource-content {
    margin-top: 30px;
    color: #F5F9FC;
}

.res-panels {
    background-color: #183D5D;
    padding: 35px;
    margin-top: 35px;
    text-align: left;
    width: 200px;
    height: 216px;
    margin-left: 25px;
}


/* FAQ classes and ids */

.title-underline1 {
    width: 150px;
    height: 1.8px;
    margin: 0 1;
}

.title-underline {
    width: 180px;
    height: 1.8px;
    margin: 0 auto;
}

.back {
    background: #183D5D;
    color: white;
}

.btn {
    background: rgba(255, 138, 226, 0.9);
    color: white;
}

.back1 {
    width: 308px;
    height: 121px;
    z-index: 1;
    opacity: 1;
    background: rgba(255, 138, 226, 0.9);
    position: absolute;
    top: 15%;
    left: 0.5%;
}

.size {
    font-size: 21px;
}

.padd {
    padding-left: 100px;
    padding-right: 100px;
}

#footer {
    position: absolute;
    width: 100%;
    height: 100%;
    /* left: 2px;
    top: 500px; */
    background: rgba(48, 69, 105, 0.7);
    opacity: 0.9;
}

.head-faq {
    color: white;
    font-weight: 800;
}

.foot i {
    background-color: white;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 20px;
}


/*--media queries--*/

@media (max-width: 767px) {
    body {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .navbar-dark .navbar-nav .nav-link {
        width: 80%;
        min-width: 80%;
        max-width: 80%;
    }
    .content2 {
        padding: 0;
    }
    .content3 {
        padding: 0;
    }
    .res-panels {
        padding: 25px;
        width: 80%;
    }
    .resource-content {
        margin-left: 20px;
    }
    .heading h1 {
        font-size: 50px;
        margin-top: 60px;
    }
    i.fa-1x {
        font-size: 50px;
    }
    #content-3 {
        text-align: center;
        padding-top: 49px;
    }
    .font2 {
        font-size: 2rem;
    }
    .font1 {
        font-size: 1.6rem;
        margin-top: 15px;
    }
    .icon-space {
        height: 50px;
    }
    .navbar-brand img {
        position: relative;
        top: 20px;
        left: 20px;
    }
    #content-2 {
        position: absolute;
        top: 100px;
    }
    .faqs li {
        padding-top: 20px;
    }
    #footer {
    position: absolute;
    width: 100%;
    height: 100%;
    left:-10px;
    background: rgba(48, 69, 105, 0.7);
    opacity: 0.9;
}
}
