body{
    margin: 0;
    padding:0;
    background: url(./Background\ 2\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
}
/*.cacards{
    padding-top: 130px;
}*/

.title-underline1{
    width: 150px;
    height: 1.8px;
    margin: 0 1;
}
.title-underline2{
    width: 180px;
    height: 1.8px;
    position: absolute;
    top: 25%;
    left:40% ;
}
.title-underline{
    width: 180px;
    height: 1.8px;
    margin: 0 auto;
}

.back{
    background: #183D5D;
    color: white;
}
.btn{
    background: rgba(255, 138, 226, 0.9);
    color: white;
}
.back1{
    width: 308px;
    height: 121px;
    z-index: 1;
    opacity: 1;
    background:rgba(255, 138, 226, 0.9)  ;
    position: absolute;
    top: 15%;
    left: 0.5%;

}
.size{
    font-size: 28px;
}
.padd{
    padding-left: 100px;
    padding-right: 100px;
}
#footer{
    position: absolute;
width: 1530px;
height: 300px;
left: 2px;
top: 450px;
background: rgba(48, 69, 105, 0.7);
opacity: 0.9;
}
